* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #1c1c1c;
    color: red;
}

.container {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.wrap {
    margin-top: 50px;
}

.form__inp {
    background: #232324;
    border: 3px solid #363636;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
}

.form__input {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form__btn {
    border: 1px solid #dc3545;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;

    transition: .2s linear;
}

.mt {
    margin-top: 5px;
}

.form__btn:hover {
    border-color: #c4313f;
    background-color: #c4313f;
    cursor: pointer;
}

li {
    color: #d9d9d9;
    font-weight: 600;
    margin-top: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}